<h1>Editing album</h1>

<% form_for([@artist, @album]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :wikipedia_url %><br />
    <%= f.text_field :wikipedia_url %>
  </p>
  <p>
    <%= f.label :artist_id %>:
    <%= "#{@artist.name} - #{@artist.id}" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@artist, @album] %> |
<%= link_to 'Back', artist_albums_path(@artist)  %>