<h1>Listing albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Wikipedia url</th>
    <th>Artist</th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.title %></td>
    <td><%= album.wikipedia_url %></td>
    <td><%= album.artist_id %></td>
    <% if !@artist.nil? %>
      <td><%= link_to 'Show', [@artist, album] %></td>
      <td><%= link_to 'Edit',[:edit, @artist, album] %></td>
      <td><%= link_to 'Destroy', [@artist, album], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if !@artist.nil? %>
  <%= link_to 'New page', new_artist_album_path %>
<% end %>