<p>
  <b>Title:</b>
  <%=h @album.title %>
</p>

<p>
  <b>Wikipedia url:</b>
  <%=h @album.wikipedia_url %>
</p>

<p>
  <b>Artist:</b>
  <%=h @album.artist_id %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>