<p>
  <b>Title:</b>
  <%=h @album.title %>
</p>

<p>
  <b>Wikipedia url:</b>
  <%=h @album.wikipedia_url %>
</p>

<p>
  <b>Artist:</b>
  <%=h "#{@artist.name} - #{@album.artist_id}" %>
</p>


<%= link_to 'Edit', [:edit, @artist, @album] %> |
<%= link_to 'Back',  artist_albums_path(@artist)  %>